@charset "utf-8";
/*css reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, th, td, pre, blockquote, fieldset, lengend, input, button, textarea, form{margin: 0; padding: 0;}
body, input, button, textarea, select{font-size:12px; font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, sans-serif;}
h1, h2, h3, em, i, th, caption, cite, code, address{font-style: normal; font-weight: normal;}
ul, ol{list-style: none;}
img, fieldset{border: 0 none;}
input, textarea{outline: none;}
table{border-collapse: collapse; border-spacing: 0;}
button, input, select, label{vertical-align:middle;}
a{color: #333; outline: none; text-decoration: none;}
a:focus{outline: none;}
a:hover{text-decoration: underline;}
a:active{star:expression(this.onfocus=this.blur());}
.clearfix{_zoom:1; /*height:1%;*/}
.clearfix:after{content:""; clear: both; display:block;}
header, hgroup, nav, menu, main, section, article, summary, details, aside, figure, figcaption, footer{display: block;}

/*css common*/
body{ background:#d9d9d9; font-size:62.5%;}

/*main*/
.top_banner{ width:100%; background:#ddeaf0;}
.top_banner img{ max-width:100%; height:auto; display:block;}

.con{ width:100%;}
.conbt{ width:100%; padding:.5rem 0; margin-bottom:.5rem; background:#f6f6f6;}
.conbt h1{ width:28%; padding:0.5rem 0 .5rem .5rem; display:block; background:#12bf5b; position:relative; font-size:.8rem; color:#fff;}
.conbt h1 em{width:0; height:0; border-top:1rem solid transparent; border-bottom:1rem solid transparent; border-left:.7rem solid #12bf5b; display:inline-block; position:absolute; right:-.7rem; top:0;}
.conbox{ width:100%;}
.conbox ul li{width:100%; background:#efefef; margin-bottom:.8rem; float:left;}
.conbox ul li .pro_pic{ width:55%; float:left;}
.conbox ul li .pro_info{ width:42%; padding-left:2%; float:left;}
.conbox ul li .pro_pic img{max-width:100%; height:auto; display:block;}
.conbox ul li .pro_title{ width:100%; margin-top:.3rem; height:1.6rem; line-height:.8rem; font-size:0.8rem; float:left; color:#929292; text-overflow:ellipsis;}
.conbox ul li .pro_price{ width:100%; color:#d90000; font-size:.9rem; background:}
.conbox ul li .pro_buy{ width:95%; margin-top:-.3rem;}
.conbox ul li .pro_buy a{ padding:.2rem .5rem; float:right; background:#16bb5c; color:#fff; -webkit-border-radius:.3rem; -moz-border-radius:.3rem; border-radius:.3rem; font-size:0.8rem;}
.conbox ul li .pro_store{ padding:.3rem 0; font-size:0.8rem;}
.shareto{ width:100%; padding:.8rem 0; background:#16bb5c; color:#fff; margin-top:2.5rem; float:left; font-size:1.2rem; text-align:center;}

/*心形组件*/
.heart{width:16px;height:20px;position:relative; padding-left:1rem;}
.heart.active:before,.heart.active:after{ background:#d90000;}
/* after 伪元素在元素之前添加内容*/
.heart:before{
content:" ";
border-radius:10px 10px 0 0;/* 正方形的内切圆的半径等于正方形边长的一半 */
width:8px; height:12px;/* 长方形 */
background:#acacac;
-moz-transform: rotate(-45deg);/* 逆时针旋转45°*/
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
position:absolute;/* absolute(绝对定位) 脱离文档流，通过 top,bottom,left,right 定位 */
left:2px; top:2px;}

/* after 伪元素在元素之后添加内容*/
.heart:after{
content:" ";
width:8px; height:12px;
background:#acacac;
border-radius:10px 10px 0 0;
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
-webkit-transform: rotate(45deg); 
position:absolute;
left:4.8px;top:2px;
}

/*return top*/
p#back-to-top{position:fixed; display:none; bottom:40px; right:10px;}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:64px;
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#back-to-top a:hover{
    color:#979797;
}
p#back-to-top a span{
    background:transparent url(../images/town_recommend_m/back_top.png) left top no-repeat;
    border-radius:6px;
    display:block;
    height:56px; line-height:60px; color:#fff; font-size:10px;
    width:56px;
    margin-bottom:5px;
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
}
p#back-to-top a:hover span{
    background:transparent url(../images/town_recommend_m/back_top.png) left top no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;}

/*分享遮罩*/
#cover{display:none;position:absolute;left:0;top:0;z-index:18888;background-color:#000000;opacity:0.7;}
#guide{display:none;position:absolute;right:18px;top:5px;z-index:19999;}
#guide img{width:260px;height:180px;}